{% extends 'base.html' %}

{% block content %}
<body bgcolor="#00CCFF" text="#fff">
    <font color="black">
        <h1>Создать новый пост</h1>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <form method="post">
            <label for="title">Оглавление</label><br>
            <input type="text" id="title" name="title"><br>


            <label for="content">Информация</label><br>
            <textarea id="content" name="content"></textarea><br>

                <input type="submit" value="Опубликовать">
        </form>
        {% endblock %}
